<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>cn.lidaiji.studio</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__PROJECT_ROOT__/scripts/macos/start-studio.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__PROJECT_ROOT__</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>__LOG_DIR__/studio.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>__LOG_DIR__/studio.stderr.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__PATH_VALUE__</string>
		<key>LANG</key>
		<string>zh_CN.UTF-8</string>
		<key>LC_ALL</key>
		<string>zh_CN.UTF-8</string>
	</dict>
</dict>
</plist>
